<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="/css/part_5.css">
    <title>Part5</title>
<!--    <style>-->
<!--        .true{-->
<!--            background: lightgreen;-->
<!--        }-->
<!--        .false{-->
<!--            background: lightgray;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<!--<div th:text="${tasks}"></div>-->
<div th:each="task : ${tasks}">
    <div th:if="${task.complete}" th:text="${task.name}" class="true"></div>
    <div th:if="${!task.complete}" th:text="${task.name}" class="false"></div>
</div>

<div th:each="task : ${tasks}" th:text="${task.name}" th:class="${task.complete ? 'true' : 'false'}"></div>
</body>
</html>