<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head_fragment :: head('Пользователи')"></div>
<body>
<div th:replace="fragments/header_fragment :: header"></div>
<div class="admin_parent">
    <form th:action="@{/admin/users}" method="get" class="admin_user_role_filter">
        <div>
            <select name="userRoleId" class="user_role_select">
                <option value="1">Admins</option>
                <option value="2">Moderators</option>
                <option value="3">Users</option>
                <option value="4">Banned</option>
            </select>
            <button type="submit" class="user_role_select_button">Показать</button>
        </div>
    </form>
    <form th:action="@{/admin/users_edit}" method="post" th:each="user : ${userList}"
    class="admin_user_role_form2">
        <p th:text="${user.name + ' ' + user.surname}"></p>
        <input type="hidden" name="user_id" th:value="${user.id}">
        <select name="user_role" class="user_role_select_2">
            <option th:each="userRole : ${userRoleList}" th:value="${userRole.id}"
                    th:text="${userRole.name}" th:selected="${userRole.id == user.userRole.id}"></option>
        </select>
        <button type="submit" class="admin_submit_buttons">Подтвердить</button>
    </form>
</div>
</body>
</html>