<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head_fragment :: head('Создание статьи')"></div>
<body>
<div th:replace="fragments/header_fragment :: header"></div>
<form th:action="@{/articles/create}" method="post" class="create_article_form">
    <div class="create_article_parent">
        <h1 class="create_new_article_text">Написать статью</h1>
        <p class="new_article_inputs">Заголовок</p>
        <input type="text" name="heading" aria-label="heading"
               class="article_heading">
        <p class="heading_note">* Не более 100 символов</p>
        <p class="new_article_inputs">Категория статьи</p>
        <select name="category_id" class="new_article_category">
            <option th:each="category : ${categoryList}" th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
        <p class="new_article_inputs">Содержание статьи</p>
        <textarea name="text" placeholder="Текст" aria-label="text" class="article_text"></textarea>
        <div class="article_buttons">
            <button type="submit" class="submit_new_article">Отправить</button>
            <button type="reset" class="reset_new_article">Стереть</button>
        </div>
    </div>
</form>
</body>
</html>