.parent {
    display: flex;
    flex-direction: column;
}

.navi {
    background-image: url("https://images.wallpaperscraft.ru/image/single/svet_bleklyy_fon_85547_1920x1080.jpg");
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 1080px;
}

.header > .container {
    display: flex;
    align-items: center;
    background: white;
    opacity: .9;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    color: cadetblue;
    border-right: black 1px solid;
}

.search{
    margin-left: 10px;
    padding: 10px 15px;
    width: 250px;

}

.button_home{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.button_article_list{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.button_create_article{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.button_login{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.button_registration{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.button_logout{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
    margin-right: 10px;
}

.admin_buttons{
    display: flex;
    margin-left: 5px;
}

.articles{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-top: 10px;
    border: lightskyblue 1px solid;
    border-radius: 3px;
    padding: 5px 15px;
    width: 100px;
    background: lightskyblue;
}

.users{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-top: 10px;
    margin-left: 5px;
    border: lightgreen 1px solid;
    border-radius: 3px;
    padding: 5px 15px;
    width: 100px;
    background: lightgreen;
}
